
<h1>Girona Cycling Routes</h1>

<p>Cycling Girona is unlike cycling anywhere else in the world. It’s not just the weather, roads and architecture. It’s the fact you feel you’re wandering into the home of the professional peloton. From Els Angels, Rocacorba to the Coastal Route throught Tossa de Mar.</p>
<nav>
  <!-- <a routerLink="/page1">Page 1</a>|
  <a routerLink="/page2">Page 2</a>| -->
  <a [routerLinkActive]="['activeLink']" routerLink="Page1">Short Routes</a>|
  <a [routerLinkActive]="['activeLink']" routerLink="Page2">Long Routes</a>|
  <a [routerLinkActive]="['activeLink']" routerLink="Page2">Recovery Rides</a>|
  <router-outlet></router-outlet>
</nav>



  <!-- [routerLinkActive]="['activeLink']" -->