<div>
<h1>Short Routes</h1>
<ngb-accordion [closeOthers]="true" activeIds="static-1">
    <ngb-panel 
      *ngFor="let shortRoute of shortRoutes; let i=index" [id]="'shortRoute-' + i" [title]="shortRoute.title" [attr.tabindex]="-1">
      <p [innerHTML]="shortRoute.title"></p>
      <ng-template ngbPanelContent>
        <p [innerHTML]="shortRoute.description"></p>
        <!-- <p [innerHTML]="shortRoute.image"></p> -->
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>
<!-- [title]="shortRoute.title" -->