/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";
.btn-link:after {
  font-family: 'FontAwesome';
  content: "\f078";
  float: right;
}
body {
  background-image: url('assets/images/Rocacorba_opacity.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.main {
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
  margin-right: 8.33333333%;
}
.main h1 {
  color: #fff;
  text-shadow: 0.2rem 0.2rem #000;
}
.main p {
  font-weight: 500;
}
nav a {
  color: #fda80d;
}
nav a ::after {
  color: #fda80d;
}
.accordion-item {
  background-color: #7a7a7a82 !important;
}
.accordion-item .btn-link {
  color: #fda80d;
  text-decoration: none !important;
}
.accordion-item a {
  color: #fff;
}
.accordion-item .accordion-button {
  background-color: #7a7a7a82 !important;
  color: #fda80d;
}
.accordion-item .accordion-button .btn-link {
  color: #fda80d;
  text-decoration: none !important;
}
.accordion-item .accordion-button a {
  color: #fff;
}
.accordion-body img {
  width: 25%;
  height: 25%;
}
.accordion-body p {
  color: #fff;
}
.accordion-body .geo-location {
  height: 1.25rem !important;
  width: 1.25rem !important;
}
